.image_button {
    border: 0px;
    padding: 0px;
    background: none;
    cursor: pointer;
    transition: 0.15s;
}
.image_button > img {
    width: 100%;
    height: 100%;
}

/*Button Animations*/
.image_button.expand:hover {
    transform: scale(1.1);
}
.image_button.expand:active {
    transform: scale(0.9);
}
.image_button.brighten:hover {
    filter: brightness(110%);
}
.image_button.brighten:active {
    filter: brightness(90%);
}
.image_button.darken:hover {
    filter: brightness(90%);
}
.image_button.darken:active {
    filter: brightness(80%);
}